@model CompanyOverviewViewModel

@{
    ViewBag.Title = "Your Company";
}
<style>
    th, td {
        color: black;
    }

    body {
        background-image: url("https://static.vecteezy.com/system/resources/previews/007/100/608/non_2x/abstract-geometric-white-and-gray-on-light-silver-gradient-background-modern-banner-design-illustration-free-vector.jpg");
    }

    .btn-group {
        margin-bottom: 3%;
        margin-top: 6%;
    }

    .rounded-btn {
        margin-right: 5px;
        display: inline-block;
        border-radius: 20px;
        padding: 10px 20px;
        text-decoration: none;
    }

    img {
        height: 250px;
        width:auto;
        max-width: 500px;
    }

    .contact-seller {
        float: right;
    }

    .card {
        border: 0.1rem solid;
        border-color: gray;
    }

</style>

<div class="container">
    <div class="title">
        <h1 class="text-center">@Model.Name</h1>
        <h3 class="text-center">@Model.Address</h3>
    </div>
    <div class="btn-group">
        @{
            <a href="/Vehicle/Add/@Model.Id" class="btn  rounded-btn btn-primary">Add Vehicle</a>
            <a href="/Part/Add/@Model.Id" class="btn rounded-btn btn-primary">Add Part</a>


            var user = await UserManager.GetUserAsync(User);
            var userId = user.Id;
            if (await SellerService.IsOwner(userId, Model.Id))
            {
                <a href="/Seller/Add/@Model.Id" class="btn rounded-btn btn-secondary mr-2">Add Employee</a>
                <a href="/Company/Edit/@Model.Id" class="btn rounded-btn btn-secondary">Edit Company</a>
                <a href="/Company/Delete/@Model.Id" class="btn rounded-btn btn-danger ">Delete Company</a>
            }
        }
    </div>
    <h2>Employees</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Position</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sellers)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Position</td>
                    <td>
                        @if (await SellerService.IsOwner(userId, Model.Id))
                        {
                            if (item.Position != "Owner")
                            {
                                <a href="/Seller/Edit/@item.Id" class="btn rounded-btn btn-primary">Edit</a>
                                <a href="/Seller/Fire/@item.Id" class="btn rounded-btn btn-danger">Fire</a>
                            }
                            else
                            {
                                <a href="/Seller/Edit/@item.Id" class="btn rounded-btn btn-primary">Edit</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h2 style="margin-top: 4.5%;">Vehicles</h2>
    <div class="row">
        @foreach (var v in Model.Vehicles)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <h3 style="margin-bottom: 2.0%;" class="card-title text-center">@v.MakeAndModel</h3>
                    <img  src="@v.ImageUrl" class="card-img-top" alt="Auto Part Image">
                    <div class="card-body">
                        <h5 class="card-text">@v.Modification</h5>
                        <a href="/Vehicle/Details/@v.Id" class="btn btn-secondary">View</a>
                        <a href="/Vehicle/Edit/@v.Id" class="btn btn-primary">Edit</a>

                        @if (await SellerService.IsOwner(userId, Model.Id))
                        {

                            <a href="/Vehicle/Delete/@v.Id" class="btn btn-danger contact-seller">Delete</a>

                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

