<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var userId = user.Id;
        if (await SellerService.IsSeller(userId))
        {
            Guid companyId = await SellerService.CompanyId(userId);

            <li class="nav-item">
                <a class="nav-link text-dark" asp-route-id="@companyId" asp-controller="Orders" asp-action="View">Orders</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-route-id="@companyId" asp-controller="Part" asp-action="AllByCompany">Parts</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-route-id="@companyId" asp-controller="Company" asp-action="Overview">Your Company</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Company" asp-action="Create">Register your company</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
